<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-videocall" version="0.0.1">
   <name>videocall</name>
   <js-module name="videocall" src="www/videocall.js">
      <clobbers target="cordova.plugins.videocall" />
   </js-module>
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="videocall">
            <param name="android-package" value="cordova.plugin.videocall.videocall" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" >
         <application android:name="com.twilio.video.app.VideoApplication" />
         <uses-permission android:name="android.permission.INTERNET" />
         <uses-feature android:name="android.hardware.camera"/>
         <uses-feature android:name="android.hardware.camera.autofocus"/>
         <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true"/>

         <uses-permission android:name="android.permission.CAMERA"/>
         <uses-permission android:name="android.permission.RECORD_AUDIO"/>
         <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
         <service
            android:foregroundServiceType="mediaProjection"
            android:name="com.twilio.video.app.ui.room.VideoService"/>
      </config-file>
      <source-file src="src/android/videocall.java" target-dir="src/cordova/plugin/videocall" />

         <source-file src="src/android/com/twilio/video/app/adapter/StatsListAdapter.kt" target-dir="src/cordova/plugin/com/twilio/video/app/adapter/StatsListAdapter" />

         <source-file src="src/android/com/twilio/video/app/android/SharedPreferencesWrapper.kt" target-dir="src/cordova/plugin/com/twilio/video/app/android/SharedPreferencesWrapper" />

         <source-file src="src/android/com/twilio/video/app/base/BaseActivity.java" target-dir="src/cordova/plugin/com/twilio/video/app/base/BaseActivity" />

         <source-file src="src/android/com/twilio/video/app/data/DataModule.kt" target-dir="src/cordova/plugin/com/twilio/video/app/data/DataModule" />
         <source-file src="src/android/com/twilio/video/app/data/NumberPreference.java" target-dir="src/cordova/plugin/com/twilio/video/app/data/NumberPreference" />
         <source-file src="src/android/com/twilio/video/app/data/NumberPreferenceDialogFragmentCompat.java" target-dir="src/cordova/plugin/com/twilio/video/app/data/NumberPreferenceDialogFragmentCompat" />
         <source-file src="src/android/com/twilio/video/app/data/Preferences.kt" target-dir="src/cordova/plugin/com/twilio/video/app/data/Preferences" />

         <source-file src="src/android/com/twilio/video/app/data/api/TwilioApiEnvironment.kt" target-dir="src/cordova/plugin/com/twilio/video/app/data/api/TwilioApiEnvironment" />

         <source-file src="src/android/com/twilio/video/app/data/api/model/Topology.kt" target-dir="src/cordova/plugin/com/twilio/video/app/data/api/model/Topology" />

         <source-file src="src/android/com/twilio/video/app/model/StatsListItem.java" target-dir="src/cordova/plugin/com/twilio/video/app/model/StatsListItem" />

         <source-file src="src/android/com/twilio/video/app/participant/ParticipantManager.kt" target-dir="src/cordova/plugin/com/twilio/video/app/participant/ParticipantManager" />
         <source-file src="src/android/com/twilio/video/app/participant/ParticipantViewState.kt" target-dir="src/cordova/plugin/com/twilio/video/app/participant/ParticipantViewState" />

         <source-file src="src/android/com/twilio/video/app/sdk/ConnectOptionsFactory.kt" target-dir="src/cordova/plugin/com/twilio/video/app/sdk/ConnectOptionsFactory" />
         <source-file src="src/android/com/twilio/video/app/sdk/LocalParticipantListener.kt" target-dir="src/cordova/plugin/com/twilio/video/app/sdk/LocalParticipantListener" />
         <source-file src="src/android/com/twilio/video/app/sdk/LocalParticipantManager.kt" target-dir="src/cordova/plugin/com/twilio/video/app/sdk/LocalParticipantManager" />
         <source-file src="src/android/com/twilio/video/app/sdk/RemoteParticipantListener.kt" target-dir="src/cordova/plugin/com/twilio/video/app/sdk/RemoteParticipantListener" />
         <source-file src="src/android/com/twilio/video/app/sdk/RoomManager.kt" target-dir="src/cordova/plugin/com/twilio/video/app/sdk/RoomManager" />
         <source-file src="src/android/com/twilio/video/app/sdk/RoomStats.kt" target-dir="src/cordova/plugin/com/twilio/video/app/sdk/RoomStats" />
         <source-file src="src/android/com/twilio/video/app/sdk/StatsScheduler.kt" target-dir="src/cordova/plugin/com/twilio/video/app/sdk/StatsScheduler" />
         <source-file src="src/android/com/twilio/video/app/sdk/VideoClient.kt" target-dir="src/cordova/plugin/com/twilio/video/app/sdk/VideoClient" />
         <source-file src="src/android/com/twilio/video/app/sdk/VideoSdkModule.kt" target-dir="src/cordova/plugin/com/twilio/video/app/sdk/VideoSdkModule" />
         <source-file src="src/android/com/twilio/video/app/sdk/VideoTrackViewState.kt" target-dir="src/cordova/plugin/com/twilio/video/app/sdk/VideoTrackViewState" />

         <source-file src="src/android/com/twilio/video/app/ui/room/ApiService.java" target-dir="src/cordova/plugin/com/twilio/video/app/ui/room/ApiService" />
         <source-file src="src/android/com/twilio/video/app/ui/room/ClearableEditText.java" target-dir="src/cordova/plugin/com/twilio/video/app/ui/room/ClearableEditText" />
         <source-file src="src/android/com/twilio/video/app/ui/room/Data.java" target-dir="src/cordova/plugin/com/twilio/video/app/ui/room/Data" />
         <source-file src="src/android/com/twilio/video/app/ui/room/MyResponse.java" target-dir="src/cordova/plugin/com/twilio/video/app/ui/room/MyResponse" />
         <source-file src="src/android/com/twilio/video/app/ui/room/ParticipantAdapter.kt" target-dir="src/cordova/plugin/com/twilio/video/app/ui/room/ParticipantAdapter" />
         <source-file src="src/android/com/twilio/video/app/ui/room/ParticipantPrimaryView.kt" target-dir="src/cordova/plugin/com/twilio/video/app/ui/room/ParticipantPrimaryView" />
         <source-file src="src/android/com/twilio/video/app/ui/room/ParticipantThumbView.java" target-dir="src/cordova/plugin/com/twilio/video/app/ui/room/ParticipantThumbView" />
         <source-file src="src/android/com/twilio/video/app/ui/room/ParticipantView.java" target-dir="src/cordova/plugin/com/twilio/video/app/ui/room/ParticipantView" />
         <source-file src="src/android/com/twilio/video/app/ui/room/ParticipantViewHolder.kt" target-dir="src/cordova/plugin/com/twilio/video/app/ui/room/ParticipantViewHolder" />
         <source-file src="src/android/com/twilio/video/app/ui/room/PrimaryParticipantController.kt" target-dir="src/cordova/plugin/com/twilio/video/app/ui/room/PrimaryParticipantController" />
         <source-file src="src/android/com/twilio/video/app/ui/room/RetrofitAPi.java" target-dir="src/cordova/plugin/com/twilio/video/app/ui/room/RetrofitAPi" />
         <source-file src="src/android/com/twilio/video/app/ui/room/RoomActivity.kt" target-dir="src/cordova/plugin/com/twilio/video/app/ui/room/RoomActivity" />
         <source-file src="src/android/com/twilio/video/app/ui/room/RoomActivityModule.java" target-dir="src/cordova/plugin/com/twilio/video/app/ui/room/RoomActivityModule" />
         <source-file src="src/android/com/twilio/video/app/ui/room/RoomActivitySubcomponent.java" target-dir="src/cordova/plugin/com/twilio/video/app/ui/room/RoomActivitySubcomponen" />
         <source-file src="src/android/com/twilio/video/app/ui/room/RoomEvent.kt" target-dir="src/cordova/plugin/com/twilio/video/app/ui/room/RoomEvent" />
         <source-file src="src/android/com/twilio/video/app/ui/room/RoomNotification.kt" target-dir="src/cordova/plugin/com/twilio/video/app/ui/room/RoomNotification" />
         <source-file src="src/android/com/twilio/video/app/ui/room/RoomViewEffect.kt" target-dir="src/cordova/plugin/com/twilio/video/app/ui/room/RoomViewEffect" />
         <source-file src="src/android/com/twilio/video/app/ui/room/RoomViewEvent.kt" target-dir="src/cordova/plugin/com/twilio/video/app/ui/room/RoomViewEvent" />
         <source-file src="src/android/com/twilio/video/app/ui/room/RoomViewModel.kt" target-dir="src/cordova/plugin/com/twilio/video/app/ui/room/RoomViewModel" />
         <source-file src="src/android/com/twilio/video/app/ui/room/RoomViewState.kt" target-dir="src/cordova/plugin/com/twilio/video/app/ui/room/RoomViewState" />
         <source-file src="src/android/com/twilio/video/app/ui/room/UriRoomParser.kt" target-dir="src/cordova/plugin/com/twilio/video/app/ui/room/UriRoomParser" />
         <source-file src="src/android/com/twilio/video/app/ui/room/UriWrapper.kt" target-dir="src/cordova/plugin/com/twilio/video/app/ui/room/UriWrapper" />
         <source-file src="src/android/com/twilio/video/app/ui/room/VideoService.kt" target-dir="src/cordova/plugin/com/twilio/video/app/ui/room/VideoService" />
         <source-file src="src/android/com/twilio/video/app/ui/room/VideoServiceModule.java" target-dir="src/cordova/plugin/com/twilio/video/app/ui/room/VideoServiceModule" />
         <source-file src="src/android/com/twilio/video/app/ui/room/VideoServiceSubcomponent.java" target-dir="src/cordova/plugin/com/twilio/video/app/ui/room/VideoServiceSubcomponent" />

         <source-file src="src/android/com/twilio/video/app/ui/settings/AdvancedSettingsFragment.kt" target-dir="src/cordova/plugin/com/twilio/video/app/ui/settings/AdvancedSettingsFragment" />
         <source-file src="src/android/com/twilio/video/app/ui/settings/AudioSettingsFragment.kt" target-dir="src/cordova/plugin/com/twilio/video/app/ui/settings/AudioSettingsFragment" />
         <source-file src="src/android/com/twilio/video/app/ui/settings/BandwidthProfileSettingsFragment.kt" target-dir="src/cordova/plugin/com/twilio/video/app/ui/settings/BandwidthProfileSettingsFragment" />
         <source-file src="src/android/com/twilio/video/app/ui/settings/BaseSettingsFragment.kt" target-dir="src/cordova/plugin/com/twilio/video/app/ui/settings/BaseSettingsFragment" />
         <source-file src="src/android/com/twilio/video/app/ui/settings/InternalSettingsFragment.kt" target-dir="src/cordova/plugin/com/twilio/video/app/ui/settings/InternalSettingsFragment" />
         <source-file src="src/android/com/twilio/video/app/ui/settings/SettingsActivity.kt" target-dir="src/cordova/plugin/com/twilio/video/app/ui/settings/SettingsActivity" />
         <source-file src="src/android/com/twilio/video/app/ui/settings/SettingsActivityModule.java" target-dir="src/cordova/plugin/com/twilio/video/app/ui/settings/SettingsActivityModule" />
         <source-file src="src/android/com/twilio/video/app/ui/settings/SettingsActivitySubcomponent.java" target-dir="src/cordova/plugin/com/twilio/video/app/ui/settings/SettingsActivitySubcomponent" />
         <source-file src="src/android/com/twilio/video/app/ui/settings/SettingsFragment.kt" target-dir="src/cordova/plugin/com/twilio/video/app/ui/settings/SettingsFragment" />
         <source-file src="src/android/com/twilio/video/app/ui/settings/SettingsFragmentModule.java" target-dir="src/cordova/plugin/com/twilio/video/app/ui/settings/SettingsFragmentModule" />
         <source-file src="src/android/com/twilio/video/app/ui/settings/SettingsFragmentSubcomponent.java" target-dir="src/cordova/plugin/com/twilio/video/app/ui/settings/SettingsFragmentSubcomponent" />

         <source-file src="src/android/com/twilio/video/app/ui/ScreenSelector.kt" target-dir="src/cordova/plugin/com/twilio/video/app/ui/ScreenSelector" />

         <source-file src="src/android/com/twilio/video/app/util/BuildConfigUtils.kt" target-dir="src/cordova/plugin/com/twilio/video/app/util/BuildConfigUtils" />
         <source-file src="src/android/com/twilio/video/app/util/CameraCapturerCompat.kt" target-dir="src/cordova/plugin/com/twilio/video/app/util/CameraCapturerCompat" />
         <source-file src="src/android/com/twilio/video/app/util/CompositeDisposableExtensions.kt" target-dir="src/cordova/plugin/com/twilio/video/app/util/CompositeDisposableExtensions" />
         <source-file src="src/android/com/twilio/video/app/util/CrashlyticsTreeRanger.java" target-dir="src/cordova/plugin/com/twilio/video/app/util/CrashlyticsTreeRanger" />
         <source-file src="src/android/com/twilio/video/app/util/DebugTree.java" target-dir="src/cordova/plugin/com/twilio/video/app/util/DebugTree" />
         <source-file src="src/android/com/twilio/video/app/util/EnvUtil.java" target-dir="src/cordova/plugin/com/twilio/video/app/util/EnvUtil" />
         <source-file src="src/android/com/twilio/video/app/util/FragmentManagerExtensions.kt" target-dir="src/cordova/plugin/com/twilio/video/app/util/FragmentManagerExtensions" />
         <source-file src="src/android/com/twilio/video/app/util/InputUtils.java" target-dir="src/cordova/plugin/com/twilio/video/app/util/InputUtils" />
         <source-file src="src/android/com/twilio/video/app/util/PermissionUtil.kt" target-dir="src/cordova/plugin/com/twilio/video/app/util/PermissionUtil" />
         <source-file src="src/android/com/twilio/video/app/util/ReleaseTree.java" target-dir="src/cordova/plugin/com/twilio/video/app/util/ReleaseTree" />
         <source-file src="src/android/com/twilio/video/app/util/SharedPreferencesUtil.kt" target-dir="src/cordova/plugin/com/twilio/video/app/util/SharedPreferencesUtil" />
         <source-file src="src/android/com/twilio/video/app/util/TreeRanger.java" target-dir="src/cordova/plugin/com/twilio/video/app/util/TreeRanger" />

         <source-file src="src/android/com/twilio/video/app/ApplicationModule.java" target-dir="src/cordova/plugin/com/twilio/video/app/ApplicationModule" />
         <source-file src="src/android/com/twilio/video/app/ApplicationScope.java" target-dir="src/cordova/plugin/com/twilio/video/app/ApplicationScope" />
         <source-file src="src/android/com/twilio/video/app/AudioSwitchModule.kt" target-dir="src/cordova/plugin/com/twilio/video/app/AudioSwitchModule" />
         <source-file src="src/android/com/twilio/video/app/BuildConfig.java" target-dir="src/cordova/plugin/com/twilio/video/app/BuildConfig" />
         <source-file src="src/android/com/twilio/video/app/TreeModule.java" target-dir="src/cordova/plugin/com/twilio/video/app/TreeModule" />
         <source-file src="src/android/com/twilio/video/app/VideoApplication.kt" target-dir="src/cordova/plugin/com/twilio/video/app/VideoApplication" />

         <source-file src="src/android/dagger/com/twilio/video/app/data/CommunityPreferences.kt" target-dir="src/cordova/plugin/dagger/com/twilio/video/app/data/CommunityPreferences" />

         <source-file src="src/android/dagger/com/twilio/video/app/sdk/CommunityVideoSdkModule.kt" target-dir="src/cordova/plugin/dagger/com/twilio/video/app/sdk/CommunityVideoSdkModule" />

         <source-file src="src/android/dagger/com/twilio/video/app/security/SecurePreferences.kt" target-dir="src/cordova/plugin/dagger/com/twilio/video/app/security/SecurePreferences" />
         <source-file src="src/android/dagger/com/twilio/video/app/security/SecurePreferencesImpl.kt" target-dir="src/cordova/plugin/dagger/com/twilio/video/app/security/SecurePreferencesImpl" />
         <source-file src="src/android/dagger/com/twilio/video/app/security/SecurityModule.kt" target-dir="src/cordova/plugin/dagger/com/twilio/video/app/security/SecurityModule" />

         <source-file src="src/android/dagger/com/twilio/video/app/AppCenterWrapper.kt" target-dir="src/cordova/plugin/dagger/com/twilio/video/app/AppCenterWrapper" />
         <source-file src="src/android/dagger/com/twilio/video/app/CommunityTreeModule.java" target-dir="src/cordova/plugin/dagger/com/twilio/video/app/CommunityTreeModule" />
         <source-file src="src/android/dagger/com/twilio/video/app/VideoApplicationComponent.java" target-dir="src/cordova/plugin/dagger/com/twilio/video/app/VideoApplicationComponent" />

         <framework custom="true" src="src/android/twiliovideo.gradle" type="gradleReference" />

         <resource-file src="src/android/res/drawable/badge_background.xml" target="res/drawable/badge_background.xml" />
         <resource-file src="src/android/res/drawable/edit_text_cursor.xml" target="res/drawable/edit_text_cursor.xml" />
         <resource-file src="src/android/res/drawable/ic_account_circle_white_24dp.xml" target="res/drawable/ic_account_circle_white_24dp.xml" />
         <resource-file src="src/android/res/drawable/ic_account_circle_white_48px.xml" target="res/drawable/ic_account_circle_white_48px.xml" />
         <resource-file src="src/android/res/drawable/ic_add_circle_white_24px.xml" target="res/drawable/ic_add_circle_white_24px.xml" />
         <resource-file src="src/android/res/drawable/ic_bluetooth_white_24dp.xml" target="res/drawable/ic_bluetooth_white_24dp.xml" />
         <resource-file src="src/android/res/drawable/ic_call_black_24dp.xml" target="res/drawable/ic_call_black_24dp.xml" />
         <resource-file src="src/android/res/drawable/ic_call_white_24px.xml" target="res/drawable/ic_call_white_24px.xml" />
         <resource-file src="src/android/res/drawable/ic_close_white_24dp.xml" target="res/drawable/ic_close_white_24dp.xml" />
         <resource-file src="src/android/res/drawable/ic_error_outline.xml" target="res/drawable/ic_error_outline.xml" />
         <resource-file src="src/android/res/drawable/ic_exit_to_app_white_24px.xml" target="res/drawable/ic_exit_to_app_white_24px.xml" />
         <resource-file src="src/android/res/drawable/ic_headset_mic_white_24dp.xml" target="res/drawable/ic_headset_mic_white_24dp.xml" />
         <resource-file src="src/android/res/drawable/ic_launcher_background.xml" target="res/drawable/ic_launcher_background.xml" />
         <resource-file src="src/android/res/drawable/ic_mic_green_24px.xml" target="res/drawable/ic_mic_green_24px.xml" />
         <resource-file src="src/android/res/drawable/ic_call_end_white_24px.xml" target="res/drawable/ic_call_end_white_24px.xml" />
         <resource-file src="src/android/res/drawable/ic_mic_off_gray_24px.xml" target="res/drawable/ic_mic_off_gray_24px.xml" />
         <resource-file src="src/android/res/drawable/ic_mic_off_red_24px.xml" target="res/drawable/ic_mic_off_red_24px.xml" />
         <resource-file src="src/android/res/drawable/ic_mic_white_24dp.xml" target="res/drawable/ic_mic_white_24dp.xml" />
         <resource-file src="src/android/res/drawable/ic_more_vert_white_24dp.xml" target="res/drawable/ic_more_vert_white_24dp.xml" />
         <resource-file src="src/android/res/drawable/ic_pause_green_24px.xml" target="res/drawable/ic_pause_green_24px.xml" />
         <resource-file src="src/android/res/drawable/ic_pause_red_24px.xml" target="res/drawable/ic_pause_red_24px.xml" />
         <resource-file src="src/android/res/drawable/ic_phonelink_ring_white_24dp.xml" target="res/drawable/ic_phonelink_ring_white_24dp.xml" />
         <resource-file src="src/android/res/drawable/ic_pin.xml" target="res/drawable/ic_pin.xml" />
         <resource-file src="src/android/res/drawable/ic_play_white_24px.xml" target="res/drawable/ic_play_white_24px.xml" />
         <resource-file src="src/android/res/drawable/ic_recording.xml" target="res/drawable/ic_recording.xml" />
         <resource-file src="src/android/res/drawable/ic_screen_share_white_24dp.xml" target="res/drawable/ic_screen_share_white_24dp.xml" />
         <resource-file src="src/android/res/drawable/ic_stats_disabled_image.xml" target="res/drawable/ic_stats_disabled_image.xml" />
         <resource-file src="src/android/res/drawable/ic_stop_screen_share_white_24dp.xml" target="res/drawable/ic_stop_screen_share_white_24dp.xml" />
         <resource-file src="src/android/res/drawable/ic_switch_camera_512dp.xml" target="res/drawable/ic_switch_camera_512dp.xml" />
         <resource-file src="src/android/res/drawable/ic_switch_camera_white_24dp.xml" target="res/drawable/ic_switch_camera_white_24dp.xml" />
         <resource-file src="src/android/res/drawable/ic_thumbnail_no_audio.xml" target="res/drawable/ic_thumbnail_no_audio.xml" />
         <resource-file src="src/android/res/drawable/ic_videocam_green_24px.xml" target="res/drawable/ic_videocam_green_24px.xml" />
         <resource-file src="src/android/res/drawable/ic_videocam_off_gray_24px.xml" target="res/drawable/ic_videocam_off_gray_24px.xml" />
         <resource-file src="src/android/res/drawable/ic_videocam_off_red_24px.xml" target="res/drawable/ic_videocam_off_red_24px.xml" />
         <resource-file src="src/android/res/drawable/ic_video_call_white_24dp.xml" target="res/drawable/ic_video_call_white_24dp.xml" />
         <resource-file src="src/android/res/drawable/ic_volume_down_gray_24px.xml" target="res/drawable/ic_volume_down_gray_24px.xml" />
         <resource-file src="src/android/res/drawable/ic_volume_down_green_24px.xml" target="res/drawable/ic_volume_down_green_24px.xml" />
         <resource-file src="src/android/res/drawable/ic_volume_down_white_24px.xml" target="res/drawable/ic_volume_down_white_24px.xml" />
         <resource-file src="src/android/res/drawable/ic_volume_up_white_24dp.xml" target="res/drawable/ic_volume_up_white_24dp.xml" />
         <resource-file src="src/android/res/drawable/join_button.xml" target="res/drawable/join_button.xml" />
         <resource-file src="src/android/res/drawable/network_quality_level_0/network_quality_level_0.png" target="res/drawable/network_quality_level_0/network_quality_level_0.png" />
         <resource-file src="src/android/res/drawable/network_quality_level_1/network_quality_level_1.png" target="res/drawable/network_quality_level_1/network_quality_level_1.png" />
         <resource-file src="src/android/res/drawable/network_quality_level_2/network_quality_level_2.png" target="res/drawable/network_quality_level_2/network_quality_level_2.png" />
         <resource-file src="src/android/res/drawable/network_quality_level_3/network_quality_level_3.png" target="res/drawable/network_quality_level_3/network_quality_level_3.png" />
         <resource-file src="src/android/res/drawable/network_quality_level_4/network_quality_level_4.png" target="res/drawable/network_quality_level_4/network_quality_level_4.png" />
         <resource-file src="src/android/res/drawable/network_quality_level_5/network_quality_level_5.png" target="res/drawable/network_quality_level_5/network_quality_level_5.png" />
         <resource-file src="src/android/res/drawable/participant_background.xml" target="res/drawable/participant_background.xml" />
         <resource-file src="src/android/res/drawable/participant_selected_background.xml" target="res/drawable/participant_selected_background.xml" />
         <resource-file src="src/android/res/drawable/participant_stroke.xml" target="res/drawable/participant_stroke.xml" />
         <resource-file src="src/android/res/drawable/roundbutton.xml" target="res/drawable/roundbutton.xml" />
         <resource-file src="src/android/res/drawable/screen/screen.png" target="res/drawable/screen/screen.png" />
         <resource-file src="src/android/res/drawable/splash_screen.xml" target="res/drawable/splash_screen.xml" />
         <resource-file src="src/android/res/drawable/twilio_badge_white.xml" target="res/drawable/twilio_badge_white.xml" />
         <resource-file src="src/android/res/drawable/twilio_badge_white.xml" target="res/drawable/twilio_badge_white.xml" />
         <resource-file src="src/android/res/drawable/twilio_name_white/twilio_name_white.png" target="res/drawable/twilio_name_white/twilio_name_white.png" />
         <resource-file src="src/android/res/drawable/video_logo_splash/video_logo_splash.png" target="res/drawable/video_logo_splash/video_logo_splash.png" />

         <resource-file src="src/android/res/layout/content_room.xml" target="res/layout/content_room.xml" />
         <resource-file src="src/android/res/layout/join_room.xml" target="res/layout/join_room.xml" />
         <resource-file src="src/android/res/layout/number_preference.xml" target="res/layout/number_preference.xml" />
         <resource-file src="src/android/res/layout/participant_primary_view.xml" target="res/layout/participant_primary_view.xml" />
         <resource-file src="src/android/res/layout/participant_view.xml" target="res/layout/participant_view.xml" />
         <resource-file src="src/android/res/layout/room_activity.xml" target="res/layout/room_activity.xml" />
         <resource-file src="src/android/res/layout/stats_view.xml" target="res/layout/stats_view.xml" />

         <resource-file src="src/android/res/menu/room_menu.xml" target="res/menu/room_menu.xml" />

         <resource-file src="src/android/res/values/attrs.xml" target="res/values/attrs.xml" />
         <resource-file src="src/android/res/values/colors.xml" target="res/values/colors.xml" />
         <resource-file src="src/android/res/values/dimens.xml" target="res/values/dimens.xml" />
         <resource-file src="src/android/res/values/strings.xml" target="res/values/strings.xml" />
         <resource-file src="src/android/res/values/styles.xml" target="res/values/styles.xml" />
         <resource-file src="src/android/res/values/values.xml" target="res/values/values.xml" />

         <resource-file src="src/android/res/xml/advanced_preferences.xml" target="res/xml/advanced_preferences.xml" />
         <resource-file src="src/android/res/xml/audio_preferences.xml" target="res/xml/audio_preferences.xml" />
         <resource-file src="src/android/res/xml/bandwidth_profile_preferences.xml" target="res/xml/bandwidth_profile_preferences.xml" />
         <resource-file src="src/android/res/xml/config.xml" target="res/xml/config.xml" />
         <resource-file src="src/android/res/xml/internal_preferences.xml" target="res/xml/internal_preferences.xml" />
         <resource-file src="src/android/res/xml/network_security_config.xml" target="res/xml/network_security_config.xml" />
         <resource-file src="src/android/res/xml/preferences.xml" target="res/xml/preferences.xml" />
     
   </platform>
</plugin>
